[submodule "TSAL"]
	path = TSAL
	url = https://github.com/eTechRacing/TSAL
[submodule "Dashboard"]
	path = Dashboard
	url = https://github.com/eTechRacing/Dashboard
[submodule "Accumulator_Indicator"]
	path = Accumulator_Indicator
	url = https://github.com/eTechRacing/Accumulator_Indicator
[submodule "Accelerometer"]
	path = Accelerometer
	url = https://github.com/eTechRacing/Accelerometer
[submodule "BSPD"]
	path = BSPD
	url = https://github.com/eTechRacing/BSPD
[submodule "Shutdown"]
	path = Shutdown
	url = https://github.com/eTechRacing/Shutdown
[submodule "ADCAN"]
	path = ADCAN
	url = https://github.com/eTechRacing/ADCAN
[submodule "BMS"]
	path = BMS
	url = https://github.com/eTechRacing/BMS
